*.egg-info
*.pyc
*.sw[pon]
.ropeproject
anatom
anatom-ab-target-difficulty/
build
cache
dist
output
slepemapy
slepemapy-ab-distractors
slepemapy-ab-max-options-count
slepemapy-ab-random-random
slepemapy-ab-target-difficulty
